*, *::after, *::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  --background: #333;
  --black: #010101;
  --blue: #29ABE2;
  --green: #8FDB69;
  --yellow: #E7F716;
  --mid-blue: #166DA5;

  --colour-1: #2A3B8F; /* no */
  --colour-3: #B4D44E; /* yes */

  --shadow-colour: #111;
  --text-shadow: 2px 2px 4px var(--background);
  --box-shadow: 2px 2px 8px 2px var(--shadow-colour);
  --drop-shadow: drop-shadow(1px 1px 4px var(--shadow-colour));
  margin: 0;
  background: var(--background);
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}
