body {
  --background: #333;
  --black: #010101;
  --blue: #29ABE2;
  --green: #8FDB69;
  --yellow: #E7F716;

  --colour-1: #2A3B8F; /* no */
  --colour-3: #B4D44E; /* yes */
  --colour-5: #166DA5; /* no */

  --text-shadow: 2px 2px 4px var(--background);
  margin: 0;
  background: var(--background);
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 56px;
}

.reveal .slides {
  height: 100%;
  top: 0;
}

.reveal .slides section {
  min-height: 90%;
}

.overlay-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 80px;
}