body {
  font-size: 56px;
}

.reveal .slides {
  height: 100%;
  top: 0;
}

.reveal .slides section {
  min-height: 90%;
  max-height: 90%;
  align-items: center;
}

.reveal .slides section.vertical {
  flex-direction: column;
  justify-content: space-around;
}

.notes {
  display: none;
}

.overlay-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 80px;
}

ul {
  text-align: left;
  margin: auto;
}
li {
  margin-bottom: .5em;
}

.border {
  border-radius: 4px;
  border: 2px solid var(--green);
  box-shadow: var(--box-shadow);
}

.framework-logos {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.framework-logos img {
  max-width: 45%;
  max-height: 350px;
  filter: var(--drop-shadow);

}

.many-logos {
  flex-wrap: wrap;
  align-items: center;
}
.many-logos img {
  margin-top: 1em;
  margin-right: 1em;
  width: 25%;
  filter: var(--drop-shadow);
}

.shadow {
  filter: var(--drop-shadow);
}

.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
}

pre code.hljs {
  padding: 1.5em 1em;
  font-size: 32px;
  background-color: var(--black); 
  border-radius: 4px; 
  border: 4px solid var(--blue);
  box-shadow: var(--box-shadow);
  margin: auto;
  text-align: left;
}

.abc-tv {
  background: url('images/abc-test-pattern.jpg'); 
	background-size: cover; 
  background-repeat: no-repeat;
}

