body {
  font-size: 56px;
}

.reveal .slides {
  height: 100%;
  top: 0;
}

.reveal .slides section {
  min-height: 90%;
  max-height: 90%;
  align-items: center;
}

.reveal .slides section.vertical {
  flex-direction: column;
}

.notes {
  display: none;
}

.overlay-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 80px;
}

ul {
  text-align: left;
  margin: auto;
  list-style-type: disclosure-closed;
}
li {
  margin-bottom: .5em;
}

.border {
  border-radius: 4px;
  border: 2px solid var(--green);
  box-shadow: var(--box-shadow);
}

.framework-logos {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.framework-logos img {
  max-width: 45%;
  max-height: 350px;
  filter: var(--drop-shadow);
}

.many-logos {
  max-width: 80%;
  flex-wrap: wrap;
  align-items: center;
}
.many-logos img {
  margin-top: 1em;
  margin-right: 1em;
  width: 25%;
  filter: var(--drop-shadow);
}

.twoby-grid {
  display: grid; 
  grid-template-columns: 300px 300px;
  max-width: 80%;
  margin: auto;
}
.twoby-grid img {
  margin: auto;
}
.twoby-grid div {
  display: flex;
}


.shadow {
  filter: var(--drop-shadow);
}

.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
}

pre code.hljs {
  padding: 1.5em 1em;
  font-size: 32px;
  background-color: var(--black); 
  border-radius: 4px; 
  border: 4px solid var(--blue);
  box-shadow: var(--box-shadow);
  margin: auto;
  text-align: left;
}

.abc-tv {
  background: url('images/abc-test-pattern.jpg'); 
	background-size: cover; 
  background-repeat: no-repeat;
}

.specs-list {
  --grey: #999;
  list-style-type: none;
  border: 4px solid var(--blue);
  border-radius: 10px;
  padding: 0;
}
.specs-list li {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px 30px;
}
.specs-list li:not(last-child) {
  border-bottom: 2px solid var(--blue);
}
.specs-list svg {
  width: 100px;
  margin-right: 20px;
}
.specs-list li.highlighted {
  color: var(--green);
  font-weight: bold;
}
.specs-list li.highlighted svg {
  stroke: var(--green);
  fill: var(--green);
}
.specs-list li.done {
  color: var(--grey);
  font-weight: 200;
}
.specs-list li.done svg {
  stroke: var(--grey);
  fill: var(--grey);
}

.blue-logo {
  stroke: var(--blue);
  fill: var(--blue);
}